.animal-card {
    width: 300px;
    height: auto;
    margin: 10px;
}
.card {
    text-align: left;
    width: 300px;
}
.card a {
    color: #FFF;
    text-decoration: none;
}
.card-image {
    height: 300px;
    overflow: hidden;
}

.buttons {
    padding-top: 20px;
}